---
layout: default
title: Home
---

{% include comment-count.html %}

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <p>
      <span class="post-date">{{ post.date | date_to_string }}</span>
      {% if post.comments %}
        <span class="comment-link"><a href="{{ post.url }}#disqus_thread">Comments</a></span>
      {% endif %}
    </p>

    {{ post.excerpt | remove: '<p>' | remove: '</p>' }}

    {% capture content_size %} {{ post.content | size }} {% endcapture %}
    {% capture excerpt_size %} {{ post.excerpt | size }} {% endcapture %}
    {% if excerpt_size != content_size %}
      <a href="{{ post.url }}">Read more</a>
    {% endif %}

    {% include post-tags.md %}
    <p id="post-meta">Tags: {{ tags_content }}</p>
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.next_page}}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
